/*kamaria sullins
10/9/2023
Css folder*/

/* CSS Reset */
body, header, nav, main, footer, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color:#FEF0C9;
     margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Alfa Slab One'; font-size: 22px; 
    color: #798a98;

}
.header {
    background-color:#FEF0C9;
    text-align: center;
    padding: 20px;
   
  }
  

    


nav li{
    font-family:  'Francois One', sans-serif; 
    color: #798a98;

   
}



  ul li:not(:last-child)::after{
    content:""; 
    border:1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:0; 
    height:100%;
}

#my-white-paragraph{
    color:rgb(163, 184, 206)
}

a {
    text-decoration: none;
}

  nav a:visited{
      color:#8B8378;
}
 

  div {
    box-shadow: 10px 10px 5px 12px lightblue;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  table{
    width: 80;
    margin: 0 auto;
    border: 3px solid #000000; 
    border-collapse:collapse;
  }
  
  table, tr, th{
    border-collapse:collapse;
    padding: 2px;
  }
  
  caption{
    font-size: 2em;
    padding: 2%;
    margin-top: 2%;
  }
  
  th, td {
      border: 1px solid #7188bb;
    }
  
    td{
    text-align: center;
    }
    div {border-width: thick;}