/*	
	Student Name: kamaria sullins
	File Name: css
	Date: 10/2/23
-->*/

/*CSS Reset*/
body, header, nav, main, footer, h1, h3, img{
	margin: 0;
	padding: 0;
	border: 0;
}
	
/*Style rule for body and image*/

body{
      background-color: #e3eaf8
}
img{
	max-width: 100%;
	display: block;
}

/* style rule for header content*/

header{
	    text-align: center;
		font-size: 3em;
        padding: 3em;
		color: #101a2d;
}
/* syles rules for navigation area*/

nav{
	background-color: #1d396d
}

nav ul{
      list-style:none;
	  margin:0;
	 text-align: center;
}

nav li {
	font-size: 1.75em;
	font-weight:bold;
	display:inline-block;
	font-family: Verdana, Arial, sans-serif;
}

nav li a {
	  color: #e3eaf8;
	  padding-top: 0.5em;
	  padding-bottom: 0.5em;
	  padding-right: 2em;
	  padding-left: 2em;
	  display:block;
}

/* Style rules for main content*/

main{
	padding: 2%;
	font-family: Grneva, Arial, sans-serif;
	overflow: auto;
}

main p{
	font-size: 1.25em;
}
main h3{
	padding-top: 2%;
	font-size: 2em;
}
#image{
	width:45%;
	float:left;
	padding: 1%
}
#group{
	width:45%;
	float:right;
}

.external id {
	color: #id396d
	font-weight: bold;
	font-style: italic;
}

/*Styles rules for footrt content*/
footer{
	text-align: center;
	font-size: 0.85em;
	background: #id396d;
	color: #e3eaaf8;
	padding-bottom: 1%;
	padding-top: 1%
	padding-right: 0&;
	padding-left: 0%;
}
footer a{
	color: #e3eaf8
}

	
	 